html, body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.26666667;
    color: #242729;
}
#root{
	
}
.headSection {
	width: 100%;
	#search {
		width: 75%;
	    margin: 10px;
	    height: 30px;
	    padding: 5px;
	}
}
.container {
	.row {
	    margin-bottom: 1rem;

	    .offset-sm-1 {
		    margin-left: 10px;
		}
	    > [class^="col"] {
	    	padding-top: .75rem;
		    padding-bottom: .75rem;
		    border: 1px solid #C9C1D5;
		    margin-top: 10px;
	    }
	}
	.post-text pre, .wmd-preview pre {
    	word-wrap: normal;
	}

	pre {
	    max-height: none\9;
	}
	pre {
	    margin-bottom: 1em;
	    padding: 5px;
	    padding-bottom: 20px;
	    width: auto;
	    max-height: 600px;
	    overflow: auto;
	    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	    font-size: 13px;
	    background-color: #eff0f1;
	}
	.tags {
		display: inline-block;
    	padding-left: 10px;
    	.tag {
		    display: inline-block;
		    margin: 10px;
		    background: #ccc;
		    padding: 2px 5px;
		}
   	}
	#answerList {

		.answerBox {
			margin-top: 20px;
			border: 1px solid #ccc;
			padding: 20px;
		}
	}

}

@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
  }
}
